body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

th	{
	text-align:center;
}

iframe {
	display:block;
	margin :0 auto 0 auto;
	width:700px;
	height:700px;
}

a {
	cursor: pointer;
}

h3 a{
	color: green;
}

#comments{
	margin-top: 60px;
}

textarea{
	margin-bottom: 10px;
}

#commentButton{
	margin-top: 15px;
	margin-bottom:10px;
}

.child{
	width:95%;
	margin-top: 10px;
	margin-bottom:10px;
}

#cancel{
	margin-right :5px;
}

#buttons{
	margin-bottom:50px;
}

.panel{
	clear:both;
}